<br>
<br>
<center>
<button ng-click='newEntity=true'>Add</button>
<button ng-click= "deleteEntity()">Delete</button>
<button>Update</button>
</center>
<table>
  <tr>
    <th>Select</th>
    <th>Id</th>
    <th>Name</th>
    <th>Department Id</th>
    <th>Salary</th>
    <th>Birth Date</th>
    <th>Hiring Date</th>
    <th>Manager Id</th>
  </tr>
  <tr ng-repeat="emp in emps">
    <td> <input ng-model="employee.id" ng-value="{{emp}}" type="radio"></td>
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.dep_id}}</td>
    <td>{{emp.sal}}</td>
    <td>{{emp.birthDate}}</td>
    <td>{{emp.hireDate}}</td>   
    <td>{{emp.mgr_id}}</td>   
  </tr>
    <tr ng-show="newEntity">
    <td><h5>type here</h5><button ng-click="addEmp(emp); newEntity=false">save</button></td>
    <td><input ng-model="emp.id"></td>
    <td><input ng-model="emp.name"></td>
    <td><input ng-model="emp.dep_id"></td>
    <td><input ng-model="emp.sal"></td>
    <td><input ng-model="emp.birthDate"></td>   
    <td><input ng-model="emp.hireDate"></td>
    <td><input ng-model="emp.mgr_id"></td> 
  </tr>
</table>
