<br>
<br>
<center>
<button>Add</button>
<button ng-click= "deleteEntity()">Delete</button>
<button>Update</button>
</center>
<table ng-init="index=0">
  <tr>
    <th>Select</th>
    <th>Id</th>
    <th>Name</th>
    <th>Department Id</th>
    <th>Salary</th>
    <th>Birth Date</th>
    <th>Hiring Date</th>
    <th>Manager Id</th>
  </tr>
  <tr ng-repeat="emp in emps">
    <td> <input ng-model="employee.id" ng-value="{{emp.id}}" type="radio"></td>
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.dep_id}}</td>
    <td>{{emp.sal}}</td>
    <td>{{emp.birthDate}}</td>
    <td>{{emp.hireDate}}</td>   
    <td>{{emp.mgr_id}}</td>   
  </tr>
</table>
