<br>
<br>
  
<center>
<button ng-click='newEntity=true'>Add</button>
<button ng-click= "deleteManagment()">Delete</button>
<button>Update</button>
</center>

<table>
  <tr>
    <th>Select</th>
    <th>Id</th>
    <th>Name</th>
    <th>Head Name</th>
  </tr>
  <tr ng-repeat="dep in deps">
    <td> <input ng-model="managment.id" ng-value="{{dep}}" type="radio"></td>
    <td>{{dep.id}}</td>
    <td>{{dep.name}}</td>
    <td>{{dep.head}}</td>
  </tr>
    </tr>
    <tr ng-show="newEntity">
    <td><h5>type here</h5><button ng-click="addDep(dep); newEntity=false">save</button></td>
    <td><input ng-model="dep.id"></td>
    <td><input ng-model="dep.name"></td>
    <td><input ng-model="dep.head"></td>
  </tr>
</table>

<tt>color = {{managment.id}}</tt><br/>
