<br>
<br>
  
<center ng-init="showFilter=false; newEntity=false; cope.checked=false; managment.newUpdate=false">
<button ng-click='newEntity=!newEntity'>Add</button>
<button ng-click= "deleteManagment()">Delete</button>
<button ng-click="showFilter = !showFilter">filter</button>
</center>
<br>
<center ng-show="showFilter">
    <label>Input Search Entity</label>
    <input type="" name=""  ng-model="entityFilter">
</center>
<br>

<kendo-grid 
k-options="gridOptionsMan"
k-selectable = "true"
k-on-change="onChangeMan(data)">
</kendo-grid>
<div ng-show="selectedMan">
<td><h5>type here</h5><button updateMan(depa)>Update</button></td>
  <td><input kendo-numerictextbox ng-model="dep.id" type="number"  min="0"></td>
  <td><input  class="k-textbox" ng-model="dep.name" type="text" required></td>
  <td><input  class="k-textbox" ng-model="dep.head" type="text" required></td>
  
</div>



<div ng-show="newEntity">
  <td><h5>type here</h5><button ng-click="addDep(dep); newEntity=false">save</button></td>
  <td><input kendo-numerictextbox ng-model="dep.id" type="number"  min="0"></td>
  <td><input  class="k-textbox" ng-model="dep.name" type="text" required></td>
  <td><input  class="k-textbox" ng-model="dep.head" type="text" required></td>
</div>



<tt>color = {{managment.id}}</tt><br/>
